body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
  }

h1 {
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}

table {
    border: 2px solid darkblue;
    width: 600px;
    margin: 0 auto;

}

thead {
    background-color: blueviolet;
}

td {
    border-top: 1px solid darkorchid;
}

.tag {
    background-color: antiquewhite;
}